.AddTask {
  align-items: center;
  border-bottom: 2px solid black;
  display: flex;
  height: 8rem;
  justify-content: center;
  padding: 0 2rem;
}

.AddTask__input {
  padding: 0.25rem 0.5rem;
  width: 75%;
}

.AddTask__button {
  background: #DC143C;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}

.AddTask__button:hover {
  background-color: #c7092f;
}
