.Task {
  align-items: center;
  border: 2px solid black;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.Task__text {
  margin: 0;
}

.Task__button {
  border: none;
  background: none;
  cursor: pointer;
}

.Task__button::after {
  border-bottom: 7px solid var(--red);
  border-right: 7px solid var(--red);
  content: '';
  display: inline-block;
  height: 12px;
  transform: rotate(45deg);
  width: 6px;
}

.Task__button:hover::after {
  border-bottom-color: var(--dark-red);
  border-right-color: var(--dark-red);
}