.TaskDetails {
  padding: 2rem 12.5%;
  gap: 1rem;
}

.TaskDetails > button {
  float: left;
}

.TaskDetails .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.TaskDetails .info header {
  display: flex;
  align-items: baseline;
}

.TaskDetails .info header h2 {
  margin: 0;
}

.TaskDetails .info header span {
  font-size: 0.8rem;
  color: var(--red);
}

.TaskDetails .info header span.done {
  color: var(--green);
}

.TaskDetails section {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.TaskDetails__actions {
  align-self: center;
  display: flex;
}